<ion-header>
  <ion-toolbar color="white">
    <ion-item lines="none">
      <ion-label color="primary">
        Arpan Tyagi
        <p>
          <ion-text color="dark">
            arpan@gmail.com | +919100000000
          </ion-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list lines="none">
    <ion-item class="ion-margin-bottom" [detail]="true" *ngFor="let item of options">
      <ion-avatar slot="start" class="ion-text-center">
        <img *ngIf="item?.img" [src]="'assets/imgs/' + item?.img">
        <ion-icon *ngIf="item?.icon" [name]="item?.icon" [color]="item?.color || 'dark'"></ion-icon>
      </ion-avatar>
      <ion-label>{{ item?.name }}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>