ion-header {
    ion-toolbar {
        ion-item {
            ion-label {
                font-size: 1.2rem;
                font-weight: 500;
                p {
                    font-size: 0.75rem;
                }
            }
        }
    }
}

ion-content {
    ion-list {
        margin-top: 1.5vh;
        
        ion-avatar {
            background-color: var(--ion-color-light);
            ion-icon {
                transform: translateY(5px);
                font-size: 1.6rem;
            }
        }
        ion-avatar img {
            padding: 0.5vh;
        }
    }
}