ion-tabs {
    ion-tab-bar {
        --background: var(--ion-color-white);
        // ion-tab-button {
        //     --color: var(--ion-color-medium);
        //     --color-selected: var(--ion-color-primary);
        // }
    }
}